<div>
    <form>
      <div class="form-group">
        <label for="comment">Add Comment</label><br>
        {{textarea rows="10" cols="100" value=comment id="comment"}}
      </div>
      <button {{action 'saveComment'}}>Save</button>
    </form>
  </div>
