@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Orbitron|Raleway');
$main: #eaeaea;
$accent: #d8d8d8;
$shadow: black;
$background: #2d2d2d;

//Main Tags
body {
  font-family: 'Raleway', sans-serif;
  background: $background;
  height: 100%;
}


// Header
header {
  border-bottom: 1px solid $accent;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-left: 10%;
  a, p {
    margin-top: -2%;
    margin-bottom: 4%;
    color: white;
  }

  p {
    font-size: 20px;
  }
  a:hover{
    color: #aaaaaa;
    font-weight: bold;
    text-decoration: none;
  }

  .navlink {
    margin: 0 1% 0 1%;
  }
}

.tagline {
  position: relative;
  top: -65px;
  left: 20px;
  color: white;
  margin-left: 10%;
  font-family: 'Orbitron', sans-serif;
}

//Logo
.main {
  position: relative;
  top: 22px;
  left: 1%;
}

.logo {
  height: 100px;
  width: 100px;
  background: orange;
  border-radius: 50%;
  box-shadow: 4px 4px 0 10px #f73d3d,
              0 0 0 20px #6d6d6d;
}

.title, .title:hover, .title:visited, .title:active, .title:link {
  position: relative;
  text-decoration: none;
  top: -90px;
  left: 10px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

// Categories Pane

.categories {
  position: fixed;
  height: 100vh;
  text-align: right;
  right: 0;
  top: 0;
  padding: 10% 5% 0 4%;
  background: $background;
  border-left: 1px solid $accent;
  h3, a {
    color: white;
  }

  a {
    color: orange;
  }

  a:hover {
    color: white;
  }


}

// Blog Posts

.index-blog-pane {
  margin: 5% 5% 5% 5%;

  .blog-posts {
    background-color: $main;
    margin-bottom: 1%;
    border: 1px solid $accent;

    h3 {
      font-size: 35px;
    }

    .blog-teaser {
      white-space: nowrap;
      overflow: hidden;
      word-wrap: break-word;
      max-height: 100%;
      max-width: 100%;
      text-overflow: ellipsis;
    }

    .image-div{
      height: 200px;
      overflow: hidden;
      margin-left: -2%;

      img {
        border-radius: 3px;
        max-width: 100%;

      }
    }

  }

  .blog-posts:hover {
    position: relative;
    left: 4px;
    box-shadow: 3px 3px 5px $shadow;
  }
}
