<header>
  <div class="nav-bar">
    {{#link-to 'index'}}<h1>Info.Share()</h1>{{/link-to}}
    <h4>A beginner's guide to programming!</h4>
    {{#link-to 'dash'}}Dashboard{{/link-to}} | {{#link-to 'about'}} About{{/link-to}} | 
    {{#link-to 'contact'}} Contact{{/link-to}}
  </div>
</header>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
<footer>
  <div class="footer">
  </div>
</footer>
