<header>
  <div class="nav-bar">
     <div class="main"><div class="logo"></div>{{#link-to 'index' class="title"}}<h1 >Info.Share()</h1>{{/link-to}}</div>
    <h4 class="tagline">A beginner's guide to programming!</h4>
    <p>{{#link-to 'dash' class="navlink"}}Dashboard{{/link-to}} | {{#link-to 'about' class="navlink"}} About{{/link-to}} |
    {{#link-to 'contact' class="navlink"}} Contact{{/link-to}}</p>
  </div>
</header>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
<footer>
  <div class="footer">
  </div>
</footer>
