<header>
  <div class="nav-bar">
    <h1>Info.Share()</h1>
    <h4>A beginner's guide to programming!</h4>
    {{#link-to 'dash'}}Dashboard{{/link-to}}
  </div>
</header>
<body>
  {{outlet}}
</body>
<footer>
  <div class="footer">
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </div>
</footer>
