<div class="row">
  <div class="col-md-8">
    <div class="index-blog-pane">
      {{#each model.category.articles as |article|}}
        {{index-blog-tile blog=article}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="categories">
      {{list-category-tile categories=model.categories}}
    </div>
  </div>
</div>
