
<div class="dashboard">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-xs-6">
      {{category-tile saveBlog='saveBlog' categories=model.categories}}
    </div>
    <div class="col-xs-6">
      {{dash-blog-tile article=model.articles category=model.categories delete="delete"}}
    </div>
  </div>
</div>
